<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/front/css/calendar.css" />
    <title>My Mini Chef</title>
  </head>

  <body>
    <div class="calendar">
      <div class="sec_cal">
        <div class="cal_nav">
          <a href="javascript:" class="nav-btn go-prev"></a>
          <div class="year-month"></div>
          <a href="javascript:" class="nav-btn go-next"></a>
        </div>
        <div class="cal_wrap">
          <div class="days">
            <div class="day">MON</div>
            <div class="day">TUE</div>
            <div class="day">WED</div>
            <div class="day">THU</div>
            <div class="day">FRI</div>
            <div class="day">SAT</div>
            <div class="day">SUN</div>
          </div>
          <div class="dates"></div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/front/js/calendar.js"></script>
  </body>
</html>
