<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/front/css/food_input.css" />
    <title>My Mini Chef</title>
  </head>

  <body>
    <!--네비-->
    <section class="wrapper">
      <section class="material-design-hamburger">
        <button class="material-design-hamburger__icon">
          <span class="material-design-hamburger__layer"></span>
        </button>
      </section>

    <section class="menu menu--off">
        <div><a href="/home/user_input" target="_blank">메뉴추천</a></div>
        <div> <a href="/home/calendar" target="_blank">식단확인</a></div>
        <div><a href="/home/shopping" target="_blank">메모패드</a></div>
        <div><a href="/mypage" target="_blank">마이페이지</a></div>
    </section>

</section>

    <!--본문-->
    <form id="foodSearchForm">
      <input id="foodSearch" placeholder="음식을 입력해 주세요" />
      <button type="submit">찾기</button>
    </form>

    <div id="foodsList"></div>

    <form id="foodInfoForm">
      <div id="foodInfo">
        <p id="foodName"></p>
        <input type="number" id="expirationDate" />
        <input type="number" id="quantity" />
      </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/front/js/food_input.js"></script>
  </body>
</html>
