<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front/css/home.css">
    <title>My Mini Chef</title>
</head>

<body>
<p>
    <!--    <span sec:authentication="name"></span>님 환영합니다~-->
    <a sec:authorize="isAuthenticated()" sec:authentication="name"> </a>
<p/>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
<a sec:authorize="isAuthenticated()" th:href="@{/mypage}">마이페이지</a>
<!--<a sec:authorize="isAnonymous()" th:href="@{'/login'}" }>로그인으로 이동</a>-->
<!--<p>
&lt;!&ndash;    <span sec:authentication="name"></span>님 환영합니다~&ndash;&gt;
<div sec:authorize ="isAnonymous()">
    <p class="mb-5" data-aos="fade-right" data-aos-delay="100">당신의 식단을 어쩌구</p>
    <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><a href="login" class="btn btn-outline-white">로그인</a></p>
@ -25,12 +31,12 @@
    <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><button type="submit" class="btn btn-outline-white">마이페이지</button></p>
    </form>
</div>
<p/>
<p/>-->
<!--<a sec:authorize="isAuthenticated()" th:href="/">로그아웃</a>-->
<!--<a sec:authorize="hasRole('ROLE_USER')" th:href="/mypage">내정보</a>-->
<!--<a th:href="/">메인으로 이동</a>-->
<script src="/front/js/home.js"></script>
</body>

</html>
