<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/front/css/home_ik.css">
  <title>My Mini Chef</title>

  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Segoe UI:wght@400&display=swap"
  />

</head>

<body>
<div class="div">
  <img class="kitchen-icon" alt="" src="../static/front/jpg/kitchen.jpg" />

  <div class="div1">
    <img class="room-icon" alt="" src="../static/front/jpg/room.jpg" />
    <b class="b">마이페이지</b>
  </div>

  <div class="div2">
    <img class="refrig-icon" alt="" src="../static/front/jpg/refrig.jpg" />
    <b class="b1">식재료 입력</b>
  </div>

  <div class="div3">
    <img class="room-icon" alt="" src="../static/front/jpg/menu.jpg" />
    <b class="b2">메뉴 추천</b>
  </div>

  <div class="div4">
    <img class="room-icon" alt="" src="../static/front/jpg/list.jpg" />
    <b class="b3">장보기 목록</b>
  </div>

  <div class="div5">
    <img class="checkfood-icon" alt="" src="../static/front/jpg/checkfood.jpg" />
    <b class="b4">식단 확인</b>
  </div>
</div>

<script></script>
</body>
</html>

