<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front/css/membership.css">
    <title>My Mini Chef</title>
</head>

<body>
<form action="/join" method="post">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

    <div class="main">

        <div class="container_name">
            <p id="name">이름: </p>
            <input type="text" name="name">
        </div>

        <div class="container_gender">
            <p id="gender">성별: </p>
            <input type="radio" name="gender" value="man">남
            <input type="radio" name="gender" value="woman">여
        </div>

        <div class="container_id">
            <p id="id">아이디: </p>
            <input type="text" name="id">
        </div>

        <div class="container_password">
            <p id="password">비밀번호: </p>
            <input type="password" name="pw">
        </div>

        <div class="container_height">
            <p id="height">키: </p>
            <input type="text" name="height">
        </div>

        <div class="container_weight">
            <p id="weight">몸무게: </p>
            <input type="text" name="weight">
        </div>

        <div class="container_phone">
            <p id="phone">핸드폰(_없이 입력): </p>
            <input type="text" name="phone">
        </div>

        <div class="container_signUp">
            <button type = "submit">가입하기</button>
        </div>
    </div>
</form>

    <script src="/front/js/membership.js"></script>
</body>

</html>