<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front/css/membership.css">
    <title>My Mini Chef</title>
</head>

<body>
<form action="/join" method="post">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

    <div class="main">
        <h1 id="title">회원가입</h1>

        <p class="text name" id="name">이름</p>
        <label>
            <input type="text" name="name" placeholder="이름 입력">
        </label>

        <p class="text gender" id="gender">성별</p>
        <div id="radio">
            <button class="btn gender" id="man" value="man">남</button>
            <button class="btn gender" id="woman" value="woman">여</button>
        </div>

        <p class="text id" id="id">아이디</p>
        <label>
            <input type="text" name="id" placeholder="ID 입력">
        </label>

        <p class="text password" id="password">비밀번호</p>
        <label>
            <input type="password" name="pw" placeholder="password 입력">
        </label>

        <p class="text height" id="height">키</p>
        <label>
            <input type="text" name="height" placeholder="키 입력">
        </label>

        <p class="text weight" id="weight">몸무게</p>
        <label>
            <input type="text" name="weight" placeholder="몸무게 입력">
        </label>

        <p class="text phone" id="phone">핸드폰번호</p>
        <label>
            <input type="text" name="phone" placeholder="핸드폰 번호 입력">
        </label>

        <div id="containerSubmit">
            <button id="submit" type = "submit">가입하기</button>
        </div>
    </div>
</form>

    <script src="/front/js/membership.js"></script>
</body>

</html>