<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front/css/membership.css">
    <title>My Mini Chef</title>
</head>

<body>
<form action="/join" method="post">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

    <div class="main">

        <p class="text name" id="name">이름</p>
        <label>
            <input type="text" name="name">
        </label>

        <p class="text gender" id="gender">성별</p>
        <label>
            <input type="radio" name="gender" value="man">남
            <input type="radio" name="gender" value="woman">여
        </label>

        <p class="text id" id="id">아이디</p>
        <label>
            <input type="text" name="id">
        </label>

        <p class="text password" id="password">비밀번호</p>
        <label>
            <input type="password" name="pw">
        </label>

        <p class="text height" id="height">키</p>
        <label>
            <input type="text" name="height">
        </label>

        <p class="weight" id="weight">몸무게</p>
        <label>
            <input type="text" name="weight">
        </label>

        <p class="text phone" id="phone">핸드폰(-없이 입력)</p>
        <label>
            <input type="text" name="phone">
        </label>

    </div>
    <button type = "submit">가입하기</button>
</form>

    <script src="/front/js/membership.js"></script>
</body>

</html>