<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="/front/css/login_ik.css" />

    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Segoe UI:wght@400&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=HelveticaNeue-Medium:wght@400&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=HelveticaNeue:wght@400&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Helvetica Neue:wght@400&display=swap"
    />
</head>
<body>
<div class="login-ik-div">
    <div class="div"></div>
    <img class="logo-icon" alt="" src="![](../static/front/jpg/logo!.png)" />
    <div class="div1">
        <p class="p">당신만을 위한,</p>
        <p class="p">가장 건간한 끼니</p>
    </div>
    <div class="div2"></div>
    <div class="dropdownmenu-formswith-foote">
        <div class="cardbackground-div">
            <div class="card-backgroundsimple-div"></div>
        </div>
        <div class="dropdownitem-div">
            <div class="rectangle-div"></div>
            <div class="label-div">처음이신가요? 회원가입</div>
        </div>
        <div class="dropdownitem-div1">
            <div class="rectangle-div"></div>
            <div class="label-div">비밀번호 찾기</div>
        </div>
        <div class="forminputcheckbox-groupdefa-div">
            <div class="checkbox-div">
                <div class="rectangle-div2"></div></div>
            <div class="label-div2">로그인 기억</div>
        </div>
        <div class="divider"><div class="rectangle-div3"></div></div>
        <div class="formform-groupbasicdefault-div">
            <div class="group-label-div">ID</div>
            <div class="forminputtextdefault-div">
                <div class="cardbackground-div">
                    <div class="inputbase-div1"></div>
                </div>
                <div class="text-state-div">아이디 입력</div>
            </div>
        </div>
        <div class="formform-groupbasicdefault-div1">
            <div class="group-label-div">Password</div>
            <div class="forminputtextdefault-div1">
                <div class="cardbackground-div">
                    <div class="inputbase-div1"></div>
                </div>
                <div class="text-state-div1">비밀번호 입력</div>
            </div>
        </div>
        <div class="buttondefaultprimary-div">
            <div class="primary-007bff"></div>
            <div class="login-div">Login</div>
        </div>
    </div>
</div>

<script></script>
</body>
</html>
