<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <title>Log out</title>
  <link rel="stylesheet" href="/front/css/logout.css">
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <meta name= "viewport" content="width=device-width, initial-scale-1.0">
  <link rel="stylesheet" href="css/modal.css">
  <link href="https://fonts.googLeapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<h1>홈화면에서 로그아웃 누르면 나오는 창입니다</h1>
<div class="modal__overlay">
  <div class="modal__window">
    <div class="modal__titlebar">
      <span class="modal__title">Logout</span>
      <button class="modal__close material-icons">close</button>
    </div>
    <div class="modal__content">로그아웃 처리되었습니다.</div>
  </div>
  <script src="/front/js/logout.js"></script>
</div>
</body>