<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title>logout</title>
  <meta name="description" content="" />
  <link rel="stylesheet" href="/front/css/logout.css">

  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Gill Sans MT:wght@700&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Rockwell:wght@400&display=swap"
  />
</head>
<body>
<div class="web-1920-1-div">
  <b class="b">로그아웃 처리되었습니다.</b>
  <div class="div1">
    <a class="a" href="/"
    >홈 화면으로 이동</a>
  </div>
</div>

<script src="/front/js/login.js"></script>
</body>
</html>
