<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Mymichef/src/main/resources/static/front/css/membership.css">
    <title>My Mini Chef</title>
</head>

<body>
    <div class="main">
        <div class="container_birthday">
            <p id="description">생년월일: </p>
            <input type="text" id="birthday">
        </div>

        <div class="container_name">
            <p id="description">이름: </p>
            <input type="text" id="name">
        </div>

        <div class="container_gender">
            <p id="description">성별: </p>
            <input type="radio" name="gender" value="man">남
            <input type="radio" name="gender" value="woman">여
        </div>

        <div class="container_id">
            <p id="description">아이디: </p>
            <input type="text" id="id">
        </div>

        <div class="container_password">
            <p id="description">비밀번호: </p>
            <input type="text" id="password">
        </div>

        <div class="container_password_check">
            <p id="description">비밀번호 재입력: </p>
            <input type="text" id="password_check">
        </div>

        <div class="container_allergy">
            <p id="description">알레르기: </p>
            <input type="text" id="allergy">
            <button id="allergy_search"></button>
        </div>

        <div class="container_address">
            <p id="description">주소: </p>
            <div class="container_roadname_address">
                <input type="text" id="roadname_search">
                <button>도로명주소 검색</button>
            </div>
            <div class="container_detail_address">
                <input type="text" id="address_detail" placeholder="상세주소 입력">
            </div>

        </div>

        <div class="container_phoneNumber">
            <p id="description">핸드폰 번호: </p>
            <input type="text" id="phoneNumber">
        </div>

        <div class="container_authenticationNumber">
            <p id="description">인증번호: </p>
            <input type="text" id="authenticationNumber">
        </div>

        <div class="container_email">
            <p id="description">e-mail</p>
            <input type="email" id="email">
            <input type="checkbox" name="remember?" id="email_receive">수신동의
        </div>

        <div class="container_signUp">
            <button id="signUp">가입하기</button>
        </div>
    </div>

    <script src="/Mymichef/src/main/resources/static/front/js/membership.js"></script>
</body>

</html>