<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      input:focus {
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/front/css/mypage.css" />
    <title>My Mini Chef</title>
  </head>

  <body>
    <section class="wrapper">
      <section class="material-design-hamburger">
        <button class="material-design-hamburger__icon">
          <span class="material-design-hamburger__layer"></span>
        </button>
      </section>

      <section class="menu menu--off">
        <div><a href="/home">홈</a></div>
        <div><a href="/food">식재료입력</a></div>
        <div><a href="/recommend">메뉴추천</a></div>
        <div><a href="/home/shopping">메모패드</a></div>
        <div><a href="/home/calendar">식단확인</a></div>
      </section>
    </section>

    <fieldset action="/mypage" class="container">
      <h1 class="title">마이페이지</h1>

      <div class="grid">
        <div class="form-group name-group">
          <label for="name">이름</label>
          <input id="name" type="text" placeholder="홍길동"/>
        </div>

        <div class="form-group email-group">
          <label for="email">Email</label>
          <input
                  id="email"
                  type="text"
                  placeholder="example@mmc.com"
          />
        </div>

        <div class="form-group phone-group">
          <label for="phone">전화번호</label>
          <input id="phone" type="text" placeholder="010-1234-1234"/>
        </div>

        <div class="form-group height-group">
          <label for="height">키</label>
          <input id="height" type="number" placeholder="cm"/>
        </div>

        <div class="form-group weight-group">
          <label for="weight">몸무게</label>
          <input id="weight" type="number" placeholder="kg"/>
        </div>

        <div class="form-group cal-group">
          <label for="cal">희망 칼로리</label>
          <input id="cal" type="number" placeholder="kcal" disabled />
        </div>

        <div class="form-group gender-group">
          <label for="switch">성별</label>
          <input id="switch" type="checkbox" hidden />
          <label for="switch" class="switch">
            <h1 class="female">✝</h1>
            <h1 class="male">➜</h1>
          </label>
        </div>

        <form id="parent">
          <div class="btn-group">
            <button
                    class="button button--disappear"
                    type="button"
                    onclick="undoEdit()"
            >
              취소
            </button>
            <button type="submit" class="button button--disappear">저장</button>
            <button
                    id="updateUserInfo"
                    type="button"
                    class="button button--trigger"
            >
              수정하기
            </button>
          </div>
        </form>

      </div>
    </fieldset>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/front/js/mypage.js"></script>
  </body>
</html>
