<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        input:focus {
            background-color: #ffeacf;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front/css/mypage.css">
    <title>My Mini Chef</title>
</head>

<body>
<div class="container_main">
    <div class="navigation"></div>

    <div class="container_information">
        <div id="name">이름
            <input type="text" id="input_name" placeholder="이름 수정">
            <p id="info_name"></p>
        </div>

        <div>
            <div id="pw">비밀번호 변경
                <input type="password" id="input_now_p/w" placeholder="현재 비밀번호" maxlength="{12}" minlength="{4}"/>
                <button id="check_btn">확인</button>
                <div id="new&check">
                    <input class="input2" type="password" id="input_again_p/w" placeholder="비밀번호 재입력 " maxlength="{12}" minlength="{4}"/>
                    <input class="input3" type="password" id="input_new_p/w" placeholder="바꿀 비밀번호" maxlength="{12}" minlength="{4}"/>
                </div>
                <p id="info_now_p/w"></p>
            </div>
        </div>

        <div id="email">이메일
            <input type="email" id="input_email" placeholder="example@mmc.com">
            <p id="info_email"></p>
        </div>

        <div id="gender">성별
            <input type="radio" name="gender" value="man"> 남
            <input type="radio" name="gender" value="woman"> 여
            <p id="info_gender"></p>
        </div>

        <div id="height">키
            <input type="number" id="input_height" placeholder="cm" min="{10}" max="{250}">
            <p id="info_height"></p>
        </div>

        <div id="weight">몸무게
            <input type="number" id="input_weight" placeholder="kg" min="{0}" max="{200}">
            <p id="info_weight"></p>
        </div>

        <div id="allergy">알레르기
            <input type="search" name="" id="search_allergy">
            <p id="info_allergy"></p>   <!-- 추후 디자인 수정 예정-->
        </div>

        <div id="vegan">비건
            <input type="radio" name="vegan_radio" value="vegan"> Yes
            <input type="radio" name="vegan_radio" value="non-vegan"> No
            <p id="info_vegan"></p>
        </div>

        <div id="calorie">희망칼로리
            <input type="number" id="input_calorie" placeholder="kcal">
            <p id="info_calorie"></p>
        </div>
    </div>

    <div>
        <button id="edit_btn">수정</button>
    </div>

</div>

<script src="../static/front/js/mypage.js"></script>
</body>

</html>