<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Login / Sign Up Form</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/front/css/login.css" />
</head>
<body>
<div class="login-ik-div">
    <div class="div">
        <!-- 주황 배경 묶음 -->
        <div class="div1">
            <p class="p">당신만을 위한</p>
            <p class="p">가장 건강한 끼니</p>
        </div>
    </div>
    <img class="logo-icon" alt="" src="/front/jpg/logo!.png" />
</div>
<div sec:authorize="isAnonymous()" class="container">
    <form action="/login" method="post" class="form" id="login">
        <h1 class="form__title">Login</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input
                    type="text"
                    name="username"
                    class="form__input"
                    autofocus
                    placeholder="ID"
            />
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input
                    type="password"
                    name="password"
                    class="form__input"
                    autofocus
                    placeholder="Password"
            />
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>

        <p class="form__text">
            <a class="form__link" href="###" id="linkFindID">아이디 찾기</a>
        </p>
        <p class="form__text">
            <a class="form__link" href="###" id="linkFindPassword"
            >비밀번호 찾기</a
            >
        </p>
        <p class="form__text">
            <a class="form__link" href="###" id="linkCreateAccount"
            >계정이 없으신가요? 회원가입하기</a
            >
        </p>
    </form>

    <form class="form form--hidden" id="findID">
        <h1 class="form__title">아이디 찾기</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input
                    type="text"
                    id="findid_name"
                    class="form__input"
                    autofocus
                    placeholder="이름"
            />
        </div>
        <div class="form__input-group">
            <input
                    type="text"
                    class="form__input"
                    autofocus
                    placeholder="e-mail"
            />
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="form__text">
            <a class="form__link" href="./" id="id_linkLogin"
            >아이디를 찾으셨나요? Log in</a
            >
        </p>
    </form>

    <form class="form form--hidden" id="findPassword">
        <h1 class="form__title">비밀번호 찾기</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input
                    type="text"
                    id="findpw_name"
                    class="form__input"
                    autofocus
                    placeholder="이름"
            />
        </div>
        <div class="form__input-group">
            <input
                    type="text"
                    id="findpw_id"
                    class="form__input"
                    autofocus
                    placeholder="ID"
            />
        </div>
        <div class="form__input-group">
            <input
                    type="text"
                    class="form__input"
                    autofocus
                    placeholder="e-mail"
            />
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="form__text">
            <a class="form__link" href="./" id="pw_linkLogin"
            >비밀번호를 찾으셨나요? Log in</a
            >
        </p>
    </form>

    <form class="form form--hidden" id="createAccount">
        <h1 class="form__title">회원 가입</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input
                    type="text"
                    id="signupUsername"
                    class="form__input"
                    autofocus
                    placeholder="ID"
            />
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input
                    type="text"
                    class="form__input"
                    autofocus
                    placeholder="e-mail"
            />
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input
                    type="password"
                    class="form__input"
                    autofocus
                    placeholder="Password"
            />
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input
                    type="password"
                    class="form__input"
                    autofocus
                    placeholder="Confirm Password"
            />
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="form__text">
            <a class="form__link" href="./" id="linkLogin"
            >계정이 있으신가요? Log in</a
            >
        </p>
    </form>
</div>
<p>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}"
    >로그아웃</a
    >
    <a sec:authorize="isAuthenticated()" th:href="@{/userEntity/info}"
    >마이페이지</a
    >
</p>
<script src="/front/js/login.js"></script>
</body>
</html>