<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/front/css/recommend.css" />
    <title>My Mini Chef</title>
  </head>

  <body>

  <section class="wrapper">

    <section class="material-design-hamburger">
      <button class="material-design-hamburger__icon">
        <span class="material-design-hamburger__layer"></span>
      </button>
    </section>

    <section class="menu menu--off">
      <div><a href="/home">홈</a></div>
      <div><a href="/food" >식재료입력</a></div>
      <div> <a href="/home/shopping" >메모패드</a></div>
      <div><a href="/home/calendar" >식단확인</a></div>
      <div><a href="/mypage" >마이페이지</a></div>
    </section>

  </section>


  <div class="form-container">
      <h1>메뉴 추천받기</h1>
      <form>

          <div class="container_">
              <button id="breakfast">아침</button>
              <button id="lunch">점심</button>
              <button id="dinner">저녁</button>
          </div>

          <div class="container_period">
              <p>기간:
                  <input type="date" id="start" />
                  ~
                  <input type="date" id="end" />
              </p>
          </div>

          <div class="container_recommend">
              <p>추천순:
                  <input
                          type="button"
                          id="recommend_ingredient"
                          disabled="disabled"
                          value="재료 적은 순"
                  />
                  <input
                          type="button"
                          id="recommend_expirationDate"
                          disabled="disabled"
                          value="유통기한 임박 순"
                  />
              </p>
          </div>

          <div class="container_essential">
              <p>필수:
                  <ul class="ks-cboxtags">
                      <li><input type="checkbox" id="checkboxOne" value="rice"><label for="checkboxOne">밥</label></li>
                      <li><input type="checkbox" id="checkboxTwo" value="soup"><label for="checkboxTwo">국</label></li>
                      <li><input type="checkbox" id="checkboxThree" value="meat"><label for="checkboxThree">고기</label></li>
                      <li><input type="checkbox" id="checkboxFour" value="vegetable"><label for="checkboxFour">채소</label></li>
                  </ul>
              </p>
          </div>

          <div class="submit-container">
              <button type="submit">추천받기</button>
          </div>

      </form>
  </div>

    <script src="/front/js/recommend.js"></script>
  </body>
</html>
