<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/front/css/shopping_ik.css">
    <title>My Mini Chef</title>
</head>

<body>

<section class="wrapper">

    <section class="material-design-hamburger">
        <button class="material-design-hamburger__icon">
            <span class="material-design-hamburger__layer"></span>
        </button>
    </section>

    <section class="menu menu--off">
        <div><a href="/home">홈</a></div>
        <div><a href="/food">식재료입력</a></div>
        <div> <a href="/home/recommend">메뉴추천</a></div>
        <div><a href="/home/calendar" >식단확인</a></div>
        <div><a href="/mypage" >마이페이지</a></div>
    </section>

</section>

<div class="container">
    <div id="info">
        <h1>Memo-Pad</h1>
        <h3>삭제하려면 더블클릭하세요.</h3>
    </div>

    <div id="app">
        <button class="add-note" type="button">+</button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/front/js/shopping_ik.js"></script>
</body>

</html>