html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color:rgba(255, 254, 180, 0.588);
}

.container_main {
    display: flex;
    flex-direction: column;
}

.container_logoback {
    display: flex;
    align-self: center;
    justify-self: center;
}

.container_user {
    display: inline-flexs;
}

.container_login {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container_input {
    display: flex;
    flex-direction: column;
}

.container_login_btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.container_text {
    display: inline;
}

.ment{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 40px;
    border: 10px solid rgb(103, 216, 46);
            width: 750px;
            font-size: 20px;
            background-color:rgb(103, 216, 46);
            width: 750px; 
            border-radius: 20px;
            display: inline;
}

.logoback{
    width:250px;
    height:110px;
    border:5pt solid rgb(255,201,14);
    background: transparent url('/img/logo.jpg') no-repeat center;
    border-radius:50%;
}



#id, #password {
    display: flex;
    margin: 5px;
}

  
.login {
    width: 140px;   
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(230, 255, 227);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.save_check{
    position: relative;
    top: 50px;
    right: 125px;
}
  
.login:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.join_membership:link, .find_id:link, .find_password:link {
    color: #2EE59D;
    text-decoration: none;
}
.join_membership:visited, .find_id:visited, .find_password:visited {
    color: #2EE59D;
    text-decoration: none;
}
.join_membership:hover, .find_id:hover, .find_password:hover {
    color: #2EE59D;
    text-decoration: none;
}
.join_membership:active, .find_id:active, .find_password:active {
    color: #2EE59D;
    text-decoration: none;
}
