
:root{
--color-pink: #F7A4A4;
--color-orange: #FEBE8C;
--color-yellow:#FCF9BE;
--color-grass:#B6E2A1;
--color-mint: #E8F3D6;
--color-lightorange: #FFDCA9;
--color-olive:#CCD6A6;
--color-leaf:#DAE2B6;
--color-beige:#F4EAD5;
--dolor-ivory:#FFFBE9;
}