:root {
  --color-pink: #f7a4a4;
  --color-orange: #febe8c;
  --color-yellow: #fcf9be;
  --color-grass: #b6e2a1;
  --color-mint: #e8f3d6;
  --color-lightorange: #ffdca9;
  --color-olive: #ccd6a6;
  --color-leaf: #dae2b6;
  --color-beige: #f4ead5;
  --color-ivory: #fffbe9;
  --color-verylightgray: #e4e4e4;
}
