@import "reset.css";

html {
  background-color: #e4e4e4;
}
body {
  display: flex;
  flex-direction: column;
}
.home {
  height: 5%;
  background-color: #ffc90d;
}
.navigation {
}

.container.information {
  display: grid;
  grid-template-columns: 11.2rem auto;
  grid-template-rows: auto;
  padding: 3.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.text {
}
