@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url("./navi.css");
@import url("./color.css");

body {
  background-color: var(--color-grass);
}

.main.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search.container,
.info.container,
.save.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 800px;
  padding: 12px;
  background-color: lightyellow;
}

h1 {
  margin-left: 18px;
}

#ingredientSearch {
  all: unset;
  width: 440px;
  font-weight: 500;
  border-radius: 18px;
  padding: 2px 7px;
  background-color: white;
  border: 4px solid black;
  cursor: pointer;
  margin: 18px auto;
}

#ingredientsResult {
  display: flex;
  flex-wrap: wrap;
  height: 620px;
  overflow: scroll;
  overflow-x: hidden;
  justify-content: space-evenly;
}

#ingredientsResult::-webkit-scrollbar {
  width: 12px;
}

#ingredientsResult::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background: var(--color-grass);
}

#ingredientsResult::-webkit-scrollbar-track {
  background: var(--color-mint);
  border-radius: 18px;
}

/*#ingredientsResult::-webkit-scrollbar-button {*/
/*  display: none;*/
/*}*/
.ingredient {
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  width: 18%;
  height: 140px;
  padding: 20px;
  text-align: center;
  margin-bottom: 18px;
}
.ingredientImg {
  height: 400px;
  width: 400px;
  margin: 2px auto;
  background-color: dimgray;
  border-radius: 18px;
}

/*식재료 정보 입력*/
#ingredientInfoForm {
  display: flex;
  flex-direction: column;
}

#infoName {
  width: 100%;
  height: 3rem;
  font-weight: 500;
  font-size: 24px;
}

#infoBtn {
  all: unset;
  width: 100px;
  height: 40px;
  font-size: 24px;
  border-radius: 18px;
  background-color: var(--color-olive);
}

.food_list {
  width: 90%;
  height: 750px;
  overflow: scroll;
  overflow-x: unset;
  background-color: white;
  margin: 0 auto;
}
