:root {
  /* fonts */
  --font-segoe-ui: "Segoe UI";

  /* font sizes */
  --font-size-base: 40px;

  /* Colors */
  --color-gray: #707070;
}

body {
  margin: 0;
  line-height: normal;
}
.kitchen-icon {
  top: -85px;
  left: 0;
  width: 1920px;
  height: 1211px;
  object-fit: cover;
}
.b,
.kitchen-icon,
.room-icon {
  position: absolute;
}
.room-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.b {
  top: calc(50% - 80px);
  left: calc(50% - 99.5px);
  display: inline-block;
}
.div1,
.refrig-icon {
  position: absolute;
  right: 62px;
  bottom: 91px;
  width: 351px;
  height: 644px;
}
.refrig-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.b1 {
  top: calc(50% - 140.5px);
  left: 16px;
  display: inline-block;
}
.b1,
.b2,
.div2 {
  position: absolute;
}
.div2 {
  bottom: 53px;
  left: 79px;
  width: 242px;
  height: 653px;
}
.b2 {
  top: calc(50% - 105px);
  left: calc(50% - 85.5px);
  display: inline-block;
}
.div3 {
  bottom: 35px;
  left: 384px;
  width: 629px;
  height: 760px;
}
.b3,
.div3,
.div4 {
  position: absolute;
}
.b3 {
  top: calc(50% - 26.5px);
  left: calc(50% - 105px);
  display: inline-block;
}
.div4 {
  top: 329px;
  left: 1065px;
  width: 404px;
  height: 221px;
}
.checkfood-icon {
  height: calc(100% - 12px);
  width: 100%;
  top: 12px;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.b4,
.checkfood-icon,
.div5 {
  position: absolute;
}
.b4 {
  top: 0;
  left: calc(50% - 83px);
  display: inline-block;
}
.div5 {
  bottom: 28px;
  left: 1066px;
  width: 398px;
  height: 342px;
}
.div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-segoe-ui);
}

