:root {
  /* fonts */
  --font-helvetica-neue: "Helvetica Neue";
  --font-helveticaneue: HelveticaNeue;
  --font-segoe-ui: "Segoe UI";

  /* font sizes */
  --font-size-base: 20px;
  --font-size-lg: 23px;
  --font-size-xl: 25px;
  --font-size-2xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #e0e0e0;
  --color-gray-200: #868d96;
  --color-gray-300: #707070;
  --color-gray-400: #212529;

  /* border radiuses */
  --br-md: 5px;
}

body {
  margin: 0;
  line-height: normal;
}
.div,
.logo-icon {
  position: absolute;
}
.div {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ffc90d;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1090px;
}
.logo-icon {
  top: calc(50% - 167px);
  left: 277px;
  width: 536px;
  height: 167px;
  object-fit: cover;
}
.p {
  margin: 0;
}
.div1 {
  position: absolute;
  top: calc(50% + 36px);
  left: calc(50% - 570px);
  display: inline-block;
}
.card-backgroundsimple-div,
.div2 {
  height: 100%;
  bottom: 0;
  box-sizing: border-box;
}
.div2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d3d3d3;
  border: 1px solid var(--color-gray-300);
  width: 830px;
  opacity: 0.37;
}
.card-backgroundsimple-div {
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
}
.card-backgroundsimple-div,
.cardbackground-div,
.rectangle-div {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.cardbackground-div {
  height: 100%;
  bottom: 0;
}
.rectangle-div {
  height: 32px;
}
.label-div {
  position: absolute;
  top: calc(50% - 16px);
  left: 24px;
  display: inline-block;
}
.dropdownitem-div,
.dropdownitem-div1 {
  position: absolute;
  width: calc(100% - 18px);
  right: 17px;
  bottom: 65px;
  left: 1px;
  height: 32px;
}
.dropdownitem-div1 {
  width: calc(100% - 1px);
  right: 0;
  bottom: 21px;
}
.rectangle-div2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--color-white);
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
}
.checkbox-div {
  position: relative;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  margin-right: 1px;
}
.label-div2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.forminputcheckbox-groupdefa-div {
  position: absolute;
  top: calc(50% + 0.5px);
  left: 24px;
  width: 153px;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.rectangle-div3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e9ecef;
}
.divider {
  position: absolute;
  width: calc(100% - 1px);
  top: calc(50% + 132.5px);
  right: 0;
  left: 1px;
  height: 1px;
}
.group-label-div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.inputbase-div1 {
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  top: -2px;
  right: 0;
  bottom: 0;
  left: -2px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.text-state-div {
  position: absolute;
  top: calc(50% - 15.5px);
  left: 15.5px;
  line-height: 24px;
  display: inline-block;
  width: 123px;
}
.forminputtextdefault-div {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 55px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.formform-groupbasicdefault-div {
  position: absolute;
  width: calc(100% - 46px);
  top: 23px;
  right: 22px;
  left: 24px;
  height: 96px;
  font-size: var(--font-size-xl);
}
.text-state-div1 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: 15.5px;
  line-height: 24px;
  display: inline-block;
  width: 146px;
}
.forminputtextdefault-div1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 55px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.formform-groupbasicdefault-div1 {
  position: absolute;
  width: calc(100% - 46px);
  top: calc(50% - 115.5px);
  right: 22px;
  left: 24px;
  height: 96px;
  font-size: var(--font-size-xl);
}
.primary-007bff {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: #007bff;
}
.login-div {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 24.5px);
  display: inline-block;
}
.buttondefaultprimary-div {
  position: absolute;
  top: calc(50% + 58.5px);
  left: 148px;
  width: 81px;
  height: 42px;
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.dropdownmenu-formswith-foote {
  position: absolute;
  top: calc(50% - 253px);
  right: 228px;
  width: 374px;
  height: 509px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  font-family: var(--font-helveticaneue);
}
.login-ik-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-300);
  font-family: var(--font-segoe-ui);
}

