html,
body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 254, 180, 0.588);
}

.main {
  display: flex;
  flex-direction: column;
}

.container_birthday,
.container_name,
.container_gender,
.container_id,
.container_password,
.container_height,
.container_weight,
.container_email,
.container_signUp{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  left: 650px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#description {
  width: 130px;
  margin-left: 5px;
}

#signUp {
  align-items: center;
}
