@import "reset.css";

html,
body {
    height: 100%;
    width: 100%;
    background-color: lightgray;
    top: 50px;
}

label {
    all: unset;
    text-align: left;
    background-color: gray;
}

input {
    all: unset;
}

.main {
    display: grid;
    grid-template-columns: minmax(100px, auto) auto;
    grid-template-rows: auto;
}