@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("./navi.css");
@import url("./color.css");

body {
  box-sizing: border-box;
  background-color: var(--color-lightorange);
  font-family: "Roboto", sans-serif;
  display: flex;
}

.container {
  background: #fff;
  width: 90%;
  height: 90%;
  padding: 1rem;
}

.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #374151;
  padding-bottom: 11px;
  border-bottom: 1px solid #d7dbdf;
}

.form-group {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #374151;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.form-group [type] {
  border: 1px solid #d2d6db;
  border-radius: 6px;
  padding: 15px;
}
.form-group [type]:hover {
  border-color: #a8afb9;
}
.form-group [type]:focus {
  border-color: #5850eb;
}

.switch {
  background-color: white;
  width: 6vw;
  height: 4vh;
  /*position:absolute;*/
  border-radius: 30vw;
  border: 0.2vw solid #ccc;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  /*top:87%;*/
  /*left:14%;*/
  margin-top: 30px;
  margin-left: 50px;
  transform: translate(-50%, -50%);
}
.switch::before,
.switch::after {
  content: "";
  width: 2vw;
  height: 2vw;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: -10%;
  left: -3%;
  transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
  transform-origin: right center;
}
.switch::before {
  border: 0.2vw solid lightblue;
}
.switch::after {
  background: #fbd3e1;
  border: 0.2vw solid pink;
}
input:checked + .switch:before {
  background: #d3f0fb;
  transform: translateX(165%);
  border: 0.2vw solid pink;
}
input + .switch .female {
  color: pink;
}
input:checked + .switch .male {
  color: lightblue;
}
input + .switch .male {
  color: #ccc;
}
input:checked + .switch .female {
  color: #ccc;
}
input:checked + .switch:after {
  background: #d3f0fb;
  transform: translateX(165%);
  border: 0.2vw solid lightblue;
}
.female,
.male {
  position: absolute;
  font-weight: bold;
  color: #ccc;
}
.female {
  z-index: -1;
  top: 30%;
  transform: rotate(180deg);
  font-size: 2vw;
}
.male {
  z-index: -1;
  left: 87%;
  bottom: 20%;
  font-size: 2vw;
  transform: rotate(-50deg);
}

.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  font-family: var(
    --pure-material-font,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.pure-material-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  /* Safari */
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
  /*background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));*/
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
  /*border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));*/
  /*background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));*/
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
  /*border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));*/
}

.pure-material-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
  opacity: 0.04;
}

.pure-material-checkbox > input:focus {
  opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
  /*border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));*/
}

.pure-material-checkbox > input:checked:active + span::before {
  border-color: transparent;
  /*background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);*/
}

/* Disabled */
.pure-material-checkbox > input:disabled {
  opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
  /*color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);*/
  cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

.btn,
.button {
  font-weight: bold;
  line-height: 19px;
  background: #5850eb;
  border: none;
  padding: 15px 25px;
  border-radius: 6px;
  color: white;
  width: 100%;
  margin-top: 24px;
}
.btn,
.button:hover {
  background: #6e67ee;
}
.btn,
.button:focus {
  background: #4239e8;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    position: relative;
  }

  .container {
    margin: 2rem auto;
    margin-top:90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-width: 32rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 80%;
    width: 100%;
    max-height: 80%;
    height: 80%;
  }

  .grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .email-group {
    grid-column: 2;
    grid-row: 1;
  }

  .phone-group {
    grid-column: 3;
    grid-row: 1;
  }

  .height-group {
    grid-column: 1;
    grid-row: span 2;
  }

  .weight-group {
    grid-column: 2;
    grid-row: span 2;
  }

  .cal-group {
    grid-column: 3;
    grid-row: span 2;
  }

  .gender-group {
    grid-column: 1;
    grid-row: span 3;
  }

  .button-container {
    text-align: right;
  }

  .btn,
  .button {
    /* bon, bon, bon
		c'est pas tout mais j'ai faim moi ^^
		*/
    width: auto;
  }
}

* {
  box-sizing: border-box;
}

.parent {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.paragraph {
  flex: 0 0 100%;
}

.button {
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  padding: 1em;
  box-shadow: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.button:focus {
  outline: none;
}

.button--disappear {
  display: none;
}
.button--disappear.active {
  animation: scale-display 0.3s;
  display: inline-flex;
}
.button--disappear.out {
  animation: scale-display--reversed 0.3s;
  animation-fill-mode: forwards;
  display: inline-flex;
}

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes scale-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@font-face{
  font-family:'GalaxieCondensedMedium';src:url("https://dl.dropboxusercontent.com/s/dgr55wytmqb35f3/PolarisCondensed-Medium.woff") format("woff");
  font-weight:normal;
  font-style: normal
}

.live-chat-galaxie {
  font-family: 'GalaxieCondensedMedium';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.02em;
  line-height: 0.8em;
  text-transform: uppercase;
}

.live-chat-transition {
  transition:all 0.5s ease;
}

#live-chat {
  background: #f5f5f5;
  border: 1px solid #d0d3d6;
  bottom: -187px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  float: left;
  height: 223px;
  margin: 0 auto;
  right: 60px;
  position: fixed;
  text-align: center;
  width: 300px;
}

#live-chat.open-chat {
  bottom: -1px;
}

#chat-label {
  background: #008fb0;
  height: 35px;
  cursor: pointer;
  position: relative;
}

#chat-label h4 {
  color: #ffffff;
  height: 13px;
  left: 55px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
}

.live-chat-arrow {
  height: 9px;
  padding-left: 9px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.live-chat-down-arrow {
  opacity: 0;
  transform: rotate(180deg) translateY(-50%);
}

.hide-up-arrow {
  opacity: 0;
  padding: 0;
  transform: rotate(180deg) translateY(-50%);
  transform-origin: center;
}

.show-down-arrow {
  opacity: 1;
  padding: 0;
  transform: rotate(0deg) translateY(-50%);
  transform-origin: center;
}

#chat-label.open-chat-label {
  background: #d0d3d6;
}

#chat-label.open-chat-label h4 {
  color: #262526;
}

#live-chat p {
  color: #262526;
  font-family: arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 17px;
  margin: 20px auto;
  width: 280px;
  height: 180px;
}

#chat-button {
  background: #008fb0;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 12px 0 11px 0;
  text-decoration: none;
  width: 140px;
  position:relative;
  bottom:-30px;
}

#chat-button:hover {
  background: #06748e;
}